@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,600;10..48,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

body {
  background-image: url(./assets/images/endless-constellation.svg);
  color: #231f20;
}

.header {
  background-color: #fdbd2e;
  -webkit-box-shadow: 12px 12px 48px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 12px 12px 48px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 12px 12px 48px 4px rgba(0, 0, 0, 0.2);
  height: 95vh;
  border-radius: 30px;
  margin: 10px;
  position: relative;
}

nav {
  padding: 35px 45px;
  position: relative;
  z-index: 77777;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style-type: none;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

li a {
  position: relative;
  text-decoration: none;
  color: #000;
  padding-bottom: 3px;
  scroll-behavior: smooth;
}

.nav-items > li:not(:first-child) a::before {
  content: "";
  width: 90%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.nav-items > li:not(:first-child) a:hover::before {
  transform: scale3d(1, 1, 1);
}

.nav-items > li:not(:first-child) a::before {
  background: #fdfdfd;
  transform-origin: 0 50%;
}

li.logo {
  margin-right: auto;
}
.cooker {
  position: absolute;
  bottom: 0;
  right: 0;
}
.cooker img {
  width: 100%;
  margin-top: 100px;
  height: 600px;
}
.text {
  display: flex;
  align-items: center;
  height: 70vh;
  width: 50px;
  margin: 30px 50px;
  color: #231f20;
}
.text h1 {
  font-size: 5em;
  font-weight: 700;
}
/* Section 2 */
.recipes {
  margin: 10px;
  padding: 35px 45px;
}
.food-img {
  display: inline-block;
  border: 2px solid #000;
  border-radius: 50%;
  height: 190px;
  width: 190px;
  position: relative;
  margin-top: -100px;
  padding: 5px;
}
.food-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
h2.title {
  padding: 20px 0;
  margin-bottom: 6rem;
  font-size: 3em;
}
h3.food-name {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}
.food-description {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.details p {
  font-size: 14px;
  font-weight: 400;
}
.details h4 {
  font-size: 18px;
  font-weight: 700;
}
.container {
  display: flex;
  justify-content: space-around;
  gap: 4em;
}

.item {
  height: 450px;
  text-align: center;
  border-radius: 25px;
  backdrop-filter: blur(31.2px);
  padding: 2rem;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  width: 100%;
  min-height: 70px;
  mix-blend-mode: hard-light;
}

.item > *:not(.food-img) {
  padding-top: 15px;
}

.details {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* CSS */
.btn {
  background-color: #d79913;
  border-radius: 12px;
  max-width: 200px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  padding: 20px 30px;
  text-align: center;
  transition: 200ms;
  margin-top: 45px;
  width: 100%;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
  outline: 0;
  background: #926709;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.btn:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
.btn a {
  text-decoration: none;
  color: #000;
}
.container > .item:nth-child(1) .details {
  margin-top: 35px;
}
.container > .item:nth-child(3) .details {
  margin-top: 35px;
}
.btn-2 {
  margin-top: 45px;
}

.footer {
  text-align: center;
  margin-bottom: 20px;
}

/* Mobile Styles */
@media only screen and (min-width: 300px) and (max-width: 960px) {
  .header {
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  nav {
    padding: 20px;
  }

  .nav-items {
    font-size: 16px;
  }
  .text h1 {
    font-size: 2em;
  }
  .cooker img {
    height: 400px;
  }
  .text {
    margin: 50px 0px 0 0px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    font-size: 15px;
  }
  #recipetext {
    padding: 10px;
  }
  .recipes {
    margin: 0;
    padding: 20px;
  }

  h2.title {
    font-size: 2em;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }

  .food-img {
    height: 100px;
    width: 100px;
  }
  .item {
    width: 300px;
    height: 400px;
  }
  h3.food-name {
    font-size: 15px;
  }
  .food-description {
    font-size: 15px;
  }
  .details p {
    font-size: 12px;
    font-weight: 700;
  }
  .details h4 {
    font-size: 15px;
  }
}
